.searchbox {
    width: 70%;
    margin: auto;
    max-width: 350px;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 30px;
}

.search-button {
    width: 75%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: transparent;
    border: 2px solid #ddd;
    border-right: 0px;
    padding: 12px;
    background-color: transparent;
    color: rgb(130, 227, 164);

}

.search-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-right: 0px;
    font-size: "Playfair+Display", serif;
    padding: 12px;
    background-color: transparent;
    color: #adabaa;
}

.search-button {
    width: 70px;
    background: #ddd;
    color: rgb(39, 72, 57);
    float: right;
    border-left: 0px;
    outline: none;
    cursor: pointer;
}

.search-button::first-letter {
    text-transform: uppercase;
}