.directionColumna {
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.directionColumna2 {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    justify-content: space-around
}

.widthBtn {
    width: 200px;
}

.anchoDeInput {
    display: flex;
    flex-direction: row;
    width: 300px
}

.containerSelec {
    height: 60px;
    overflow: auto;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.containerSelec::-webkit-scrollbar {
    display: none;
}

.containerElem {
    margin-top: 10px;
    display: flex;
    height: 25px;
    justify-content: center;
    width: 50%;
    border-bottom: 1px solid rgb(40, 167, 69);
    border-left: 1px solid rgb(40, 167, 69);
    border-right: 1px solid rgb(40, 167, 69);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btnElem {
    font-size: 14px;
    cursor: pointer;
    line-height: 0rem;
    margin-left: 10px;
}