.directionColumna {
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.directionColumna2 {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    justify-content: space-around
}

.widthBtn {
    width: 200px;
}

.anchoDeInput {
    display: flex;
    flex-direction: row;
    width: 300px
}