.containerPlanta {
    display: flex;
    flex-direction: column;
}

.containerUpload {
    height: 160px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.containerALl {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imgSubir {
    width: 150px;
    border-radius: 5px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.hiddenBtn {
    width: 30px;
    height: 30px;
}

.btnBorrar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    color: red;
    border: 1px solid red;
    cursor: pointer;
    background-color: #000;
    top: 1.8rem;
    left: 7.8rem;
    transition: 250ms all;
}

.sinBoton {
    display: none;
}

.btnBorrar:hover {
    background-color: red;
    color: #000;
    border: 1px solid red;
}

.directionColumna {
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.directionColumna2 {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    justify-content: space-around
}

.widthBtn {
    width: 200px;
}

.buttonCrear {
    background-image: linear-gradient(to right,
            #bafd4e,
            #79f952,
            #53f65b,
            #54f35c,
            #54f090,
            #56ed9a,
            #56efb4,
            #4ceec5);
    border: none;
    color: #000;
    cursor: pointer;
    transition: .5 all;
    position: relative;
    padding: 10px 5px;
    transition: 800ms all;
    border: 1px solid rgb(40, 189, 75);
}

.buttonCrear span {
    position: absolute;
    background: #fff;
}

.buttonCrear span:nth-child(1) {
    width: 20px;
    height: 1px;
    background-color: rgb(40, 189, 75);
    bottom: -7px;
    left: -7px;
    transition: 800ms all;
}

.buttonCrear:hover span:nth-child(1) {
    width: 107%;
}

.buttonCrear span:nth-child(2) {
    width: 20px;
    height: 1px;
    background-color: rgb(40, 189, 75);
    top: -7px;
    right: -7px;
    transition: 800ms all;
}

.buttonCrear:hover span:nth-child(2) {
    width: 107%;
}

.buttonCrear span:nth-child(3) {
    width: 1px;
    height: 20px;
    background-color: rgb(40, 189, 75);
    top: -7px;
    right: -7px;
    transition: 800ms all
}

.buttonCrear:hover span:nth-child(3) {
    height: 55px;
}

.buttonCrear span:nth-child(4) {
    width: 1px;
    height: 20px;
    background-color: rgb(40, 189, 75);
    bottom: -7px;
    left: -7px;
    transition: 800ms all;
}

.buttonCrear:hover span:nth-child(4) {
    height: 55px;
}

.anchoDeInput {
    display: flex;
    flex-direction: row;
    width: 300px
}

.containerSelec {
    height: 80px;
    overflow: auto;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.containerSelec::-webkit-scrollbar {
    display: none;
}

.containerElem {
    margin-top: 10px;
    display: flex;
    height: auto;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btnElem {
    font-size: 14px;
    cursor: pointer;
    line-height: 0rem;
    margin-left: 10px;
}