.vivero {
  background-color: #ffffff;
  margin: 4rem;
}
.vivero * {
  text-decoration: none;
  color: black;
}
.vivero:hover * {
  text-decoration: none;
}
.contenedor {
  display: grid;
  margin-top: 1.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem;
  row-gap: 2.5rem;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @media (min-width: 1280px) {
    column-gap: 2rem;
  }
}
.cartas {
  display: grid;
  margin: 1.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem;
  row-gap: 2.5rem;
}
@media (min-width: 640px) {
  .cartas {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .cartas {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .cartas {
    column-gap: 2rem;
  }
}
.cabeza {
  overflow: hidden;
  width: 100%;
  border-radius: 0.5rem;
}
.imagen {
  object-fit: cover;
  height: 30vh;
  min-height: 20rem;
  background-color: lightgrey;
}
.cuerpo {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
}
.cuerpo-titulo {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.cuerpo-descripcion {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cuerpo-caracteristica {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.cuerpo-precio {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.25rem;
}
.carta {
  transition: all 1s;
  box-shadow: 0 0 0 black;
  position: relative;
  border: solid 1px green;
  border-radius: 0.5rem;
  box-shadow: 3px 6px 42px 0px rgba(0, 0, 0, 0.48);
}
.carta:hover {
  transition: all 0.1s;
  transform: translate(-0.5rem, -0.5rem);
  box-shadow: 6px 12px 60px 2px rgba(0, 0, 0, 0.12);
}
.cuerpo-caracteristica-caracteristica {
  padding: 0.25rem;
  border: solid 2px green;
  margin: 0.25rem;
  border-radius: 0.5rem;
}
