.containerGlobalVivero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerCartasSearch {
    width: 95vw;
    margin-right: 10px;
}

.containerSearch {
    margin-bottom: 5px;
}