.cartas {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  justify-content: space-around;
  cursor: pointer;
}

.carta {
  width: 24rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.imagen {
  width: 22rem;
  height: 250px;
  object-fit: cover;
}

.cuerpoTitulo {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
}

.cuerpoSubtitulo {
  text-align: center;
  font-size: 16px;
}

.cuerpoCaracteristica {
  position: absolute;
  left: 0;
  bottom: 10px;
}

.cuerpoCaracteristicaCaracteristica {
  margin-left: 20px;
  border-bottom: 1px solid blue;
}

.favOFF {
  position: absolute;
  right: 10px;
  bottom: 20px;
  cursor: pointer;
}

.favON {
  position: absolute;
  right: 10px;
  bottom: 20px;
  cursor: pointer;
}

.numeroP {
  position: absolute;
  bottom: 5px;
  right: 15%;
  font-size: 30px;
  font-weight: 900;
}