.cartas {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  justify-content: space-around;
  cursor: pointer;
}

.cartaHuer {
  width: 24rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: #fff;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.imagen {
  width: 22rem;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
}

.cuerpoTitulo {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}

.cuerpoSubtitulo {
  text-align: center;
  font-size: 16px;
}

.cuerpoCaracteristica {
  position: absolute;
  left: 10%;
  bottom: 0;
}

.cuerpoCaracteristicaCaracteristica {
  margin-left: 15px;
}

.favOFF {
  position: absolute;
  right: 10px;
  bottom: 15px;
  cursor: pointer;
}

.favON {
  position: absolute;
  right: 10px;
  bottom: 15px;
  cursor: pointer;
}

.numeroP {
  padding-top: 2px;
  position: absolute;
  top: -2px;
  right: 10%;
  font-size: 16px;
  font-weight: 400;
}

.containerNoHayNada {
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}