.containerCardVivero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardContainerVivero {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    position: relative;
    width: 280px;
    height: 300px;
    z-index: 9;
}

/*
.cardContainerVivero:hover .nameProduc {
    display: block;
    bottom: -68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameProduc {
    font-weight: 400;
    display: none;
    height: 24%;
    width: 101%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: -1;
    position: absolute;
    bottom: -20px;
}

.price {
    position: absolute;
    font-weight: 400;
    bottom: 10px;
    left: 30%;
}
*/
.imgVivero {
    margin-top: 20px;
    width: 200px;
    height: 140px;
}

.btnAgregarCarrito {
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background: linear-gradient(to top,
            #bafd4e 0%,
            rgb(121, 249, 82) 15%,
            rgb(83, 246, 91) 30%,
            #54f35c 45%,
            #54f090 60%,
            #56ed9a 80%,
            #56efb4 90%,
            #4ceec5 100%);
}

.btnAgregarCarrito p {
    position: absolute;
    bottom: -100%;
    transition: .5s;
    z-index: 9;
}

.btnAgregarCarrito:hover p {
    bottom: -9px;
}

.btnAgregarCarrito:focus {
    outline: none;
}

.btnAgregarCarrito::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    right: 50%;
    top: 0;
    background: linear-gradient(to top,
            #bafd4e 0%,
            rgb(121, 249, 82) 15%,
            rgb(83, 246, 91) 30%,
            #54f35c 45%,
            #54f090 60%,
            #56ed9a 80%,
            #56efb4 90%,
            #4ceec5 100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 0.5s;
}

.btnAgregarCarrito:hover::after {
    width: 50%;
}

.btnAgregarCarrito::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    left: 50%;
    top: 0;
    background: linear-gradient(to top,
            #bafd4e 0%,
            rgb(121, 249, 82) 15%,
            rgb(83, 246, 91) 30%,
            #54f35c 45%,
            #54f090 60%,
            #56ed9a 80%,
            #56efb4 90%,
            #4ceec5 100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s;
}

.btnAgregarCarrito:hover::before {
    width: 50%;
}

.containerCantidad {
    display: flex;
    margin-bottom: 5px;
}

.containerCantidad button {
    border: none;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cantidadVariada {
    margin: 0px 15px
}


.cardcomprar {
    color : white;
    /*background-color: hsla(172, 94%, 25%, 0.581);*/
    background-color: #5f7264; 
    border-top: 1px solid rgb(61, 186, 11);
    border-left: 1px solid rgb(9, 176, 62);
    border-right: 1px solid rgb(9, 182, 32);
    margin: 1px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 230px;
    height: 30px;
    z-index: 9;
}
