.buttonUp {
    background-image: linear-gradient(to right,
            #bafd4e,
            #79f952,
            #53f65b,
            #54f35c,
            #54f090,
            #56ed9a,
            #56efb4,
            #4ceec5);
    border: none;
    color: #000;
    cursor: pointer;
    transition: .5 all;
    position: relative;
    padding: 10px 5px;
    transition: 800ms all;
    border: 1px solid rgb(40, 189, 75);
}

.buttonUp:hover {
    background-image: linear-gradient(to left,
            #bafd4e,
            #79f952,
            #53f65b,
            #54f35c,
            #54f090,
            #56ed9a,
            #56efb4,
            #4ceec5);
}

.buttonUp span {
    position: absolute;
    background: #fff;
}

.buttonUp span:nth-child(1) {
    width: 25px;
    height: 2px;
    background-color: rgb(40, 189, 75);
    top: -5px;
    left: -5px;
    transition: 800ms all;
}

.buttonUp:hover span:nth-child(1) {
    width: 110%;
}

.buttonUp span:nth-child(2) {
    width: 25px;
    height: 2px;
    background-color: rgb(40, 189, 75);
    bottom: -5px;
    right: -5px;
    transition: 800ms all;
}

.buttonUp:hover span:nth-child(2) {
    width: 110%;
}

.buttonUp span:nth-child(3) {
    width: 2px;
    height: 25px;
    background-color: rgb(40, 189, 75);
    bottom: -5px;
    right: -5px;
    transition: 800ms all
}

.buttonUp:hover span:nth-child(3) {
    height: 54px;
}

.buttonUp span:nth-child(4) {
    width: 2px;
    height: 25px;
    background-color: rgb(40, 189, 75);
    top: -5px;
    left: -5px;
    transition: 800ms all;
}

.buttonUp:hover span:nth-child(4) {
    height: 54px;
}