.containerCreacionPlanta {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerPlanta {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadowForm {
    box-shadow: 3px 6px 42px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 3px 6px 42px 0px rgba(0, 0, 0, 0.15);
}

.anchoInput {
    width: 100%;
}

.witdhBtn {
    width: 60%;
}

.altoContainer {
    height: auto;
}