.backgroundCrear {
    background-image: linear-gradient(to right,
            #bafd4e,
            #79f952,
            #53f65b,
            #54f35c,
            #54f090,
            #56ed9a,
            #56efb4,
            #4ceec5);
}

.containerCreacionPlanta {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerPlanta {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchoInput {
    width: 100%;
}

.witdhBtn {
    width: 60%;
}

.altoContainer {
    height: auto;
}