.warning {
    color: red;
    position: absolute;
    left: 25%;
    animation: deCostado .5s ease-in-out;
}

@keyframes deCostado {
    0% {
        left: -100%;
    }

    100% {
        left: 25%;
    }
}

.altoCase {
    height: 80px;
    position: relative;
    overflow: hidden;
}

.warning2 {
    color: red;
    position: absolute;
    left: 30%;
    animation: deCostado .5s ease-in-out;
}