.formulario {
  display: grid;
  margin: 0 auto;
  width: 550px;
}

.input {
  border: none;
  border-bottom: solid 1px #b4be9f;
  margin-top: 25px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.span {
  color: #57652a;
}

.btn {
  font-size: large;
  border: none;
  border-radius: 30px;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  text-decoration: none;
  color: #57652a;
  background-color: #b4be9f;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: #57652a;
  color: #b4be9f;
}