.containerChat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

.imgGroot {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 3px 6px 42px 0px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 3px 6px 42px 0px rgba(0, 0, 0, 0.48);
}

.imgGrootPuntitos {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    position: relative;
    border-radius: 50%;
    box-shadow: 3px 6px 42px 0px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 3px 6px 42px 0px rgba(0, 0, 0, 0.48);
}

.h3Puntitos {
    font-size: 50px;
    margin-bottom: 50px;
}

.containerPuntitos {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.containerh3 {
    width: 335px;
}

.containerOpcion {
    width: 500px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.tituloChat {
    text-align: center;
}

.containerGrootH {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    width: 400px;
}

.containerText {
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    background-color: #fff;
    border: none;
    box-shadow: 3px 6px 42px 0px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 3px 6px 42px 0px rgba(0, 0, 0, 0.48);
}

.cardButton {
    padding: 15px;
    box-shadow: 3px 6px 42px 0px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 3px 6px 42px 0px rgba(0, 0, 0, 0.48);
    display: flex;
    flex-direction: column;
}

.containerButtons {
    padding: 25px;
}

.button-tam {
    width: 300px;
    color: #000;
}

.containerButtons button:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
}

.containerPreguntas {
    overflow: auto;
    height: 50vh;
    margin-top: 60px;
}

.containerPreguntas::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#ultimo {
    width: 100px;
    height: 2px;
}

@media(max-width:1024px) {
    .tituloChat {
        font-size: 35px;
    }
}

@media(max-width:768px) {
    .tituloChat {
        font-size: 26px;
    }
}

@media(max-width:425px) {
    .containerPuntitos {
        width: 100%;
    }

    .containerGrootH {
        width: 100%;
    }

    .containerOpcion {
        width: 100%;
    }

    .containerPreguntas {
        width: 100%;
    }
}