.containerAtrasVivero {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estrellas {
    display: flex;
}

.containerDetailVivero {
    display: flex;
    width: 90%;
    position: absolute;
    background-color: #fafdef;
    box-shadow: 2px 1px 17px -3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 1px 8px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 1px 8px -3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.containerTituloImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerTituloImg h4 {
    height: 40px;
    font-size: 20px;
    text-align: center;
    width: 20vw;
    color: #5f7264;
}

.containerTituloImg img {
    width: 250px;
    height: auto;
}

.containerDescripcion {
    margin-left: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerDescripcion p {
    color: #5f7264;
}

.containerBotones {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
    margin-right: 20px;
}

.containerBotones h5 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.botonEnviarCali {
    border: 1px solid #b4be9f;
    border-radius: 20px;
    color: #b4be9f;
    cursor: pointer;
    transition: .5s all;
    transform: scale(1);
}

.botonEnviarCali:hover {
    box-shadow: 2px 1px 17px -3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 1px 8px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 1px 8px -3px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.botonEnviarCali:focus {
    outline: none;
}

.btnClick {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b4be9f;
    color: #b4be9f;
    border-radius: 50%;
    line-height: 12%;
    transform: scale(1);
    transition: .5s all;
}

.btnClick:hover {
    transform: scale(1.05);
}

.btnClick:focus {
    outline: none;
}

.containerAgregarCarro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.botonAgregar {
    padding: 5px 10px;
    border: 1px solid #b4be9f;
    border-radius: 20px;
    color: #b4be9f;
    cursor: pointer;
    transition: .5s all;
    transform: scale(1);
}

.botonAgregar:hover {
    box-shadow: 2px 1px 17px -3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 1px 8px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 1px 8px -3px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.botonAgregar:focus {
    outline: none;
}