.containerBarra {
  width: 95vw;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.spanFiltros {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -10px;
  width: 80px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

.spanFiltros::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0px;
  top: 19px;
  border-right: 7px solid transparent;
  border-top: 9px solid #000;
  z-index: -1;
}

.containerFiltrosVivero {
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.containerFiltrosVivero p {
  margin: 0;
  padding: 0;
}

.optionSelec {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.elegi {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}