.contGeneralFavoritosIndex {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 50px;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.favOFF {
  background-image: url("../../img/estrellaoff.png");
  min-width: 38px;
  max-width: 38px;
  min-height: 38px;
  max-height: 38px;
  background-size: contain;
  border-style: none;
}
.favOFF:hover {
  background-image: url("../../img/estrellaON.png");
  min-width: 38px;
  max-width: 38px;
  min-height: 38px;
  max-height: 38px;
  background-size: contain;
  border-style: none;
}

.cardCartaFav {
  max-width: 500px;
  max-height: 450px;
  min-height: 450px;
  min-width: 500px;
  margin: 30px;
  border-style: solid;
  border-width: 1px;
}
