.itemImg {
   height: 600px;
}

.object {
    width: 70vw;
}

.buttons{
    display: flex;
    flex-direction: column;
    
    max-width: 250px;
    position: relative;
    bottom: 120px;
    left: -60px;
  }

.buttonn{
    margin: 40px;
    position: relative;



}
.degrade {
   
            background-color: transparent;
    color:   #676951;
border-radius:  50px 5px 50px 5px ;
padding: 2px 5px;
}

.degrade:hover {
    color:  #676951;
    background-color: #e8ead0;
  
}

@media(min-width:2000px) {
    .itemImg {
        height: 1000px;
    }
}