.itemImg {
    height: 600px;
}

.object {
    width: 90vw;
}

.degrade {
    /* background-image: linear-gradient(to right,
            #bafd4e,
            #79f952,
            #53f65b,
            #54f35c,
            #54f090,
            #56ed9a,
            #56efb4,
            #4ceec5); */
            background-color: #ccd675;
    color:   #676951;
}

.degrade:hover {
    color:  #ccd675;
    background-color: #676951;
    /* background-image: linear-gradient(to left,
            #bafd4e,
            #79f952,
            #53f65b,
            #54f35c,
            #54f090,
            #56ed9a,
            #56efb4,
            #4ceec5); */
}

@media(min-width:2000px) {
    .itemImg {
        height: 1000px;
    }
}