.containerRela {
    margin-left: 10px;
    margin-bottom: 10px;
}

.containerAbso {
    background: #57652a;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.containerAbso::first-letter {
    text-transform: uppercase;
}