.alto-row {
  height: 2200px;
}

.containerHuerta {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 4%, rgba(209, 218, 188, 1) 80%);
}

.container-fluid {
  height: auto;
}

@media(max-width:1440px) {
  .alto-row {
    height: 2200px;
  }
}

@media(max-width:800px) {
  .alto-row {
    height: auto;
  }
}