.alto-row {
  height: 2200px;
}

.containerHuerta {
  display: flex;
  flex-direction: column;
}

.container-fluid {
  height: auto;
}

@media(max-width:1440px) {
  .alto-row {
    height: 2200px;
  }
}

@media(max-width:800px) {
  .alto-row {
    height: auto;
  }
}