.alto-row {
  height: 2200px;
}

.container-fluid {
  height: auto;
}

@media(min-width:1440px) {
  .alto-row {
    height: auto;
  }
}

@media(max-width:800px) {
  .alto-row {
    height: auto;
  }
}