.containerNavBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 18vh;
    align-items: center;
}

.containerUl {
    width: 35vw;
    display: flex;
    align-items: center;
}

.containerSpan {
    width: 35vw;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.item {
    cursor: pointer;
    font-size: 16px;
    color: #000;
    background: transparent;
    line-height: 4;
    padding: 0 1em;
    position: relative;
}

.item:before {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 250ms;
}

.item:hover {
    color: #28a745;
    text-decoration: none;
}

.item:hover:before {
    width: 100%;
}

.uno:before {
    left: 50%;
}

.uno:hover:before {
    left: 0;
}

.itemActivo {
    cursor: pointer;
    font-size: 16px;
    color: #28a745;
    background: transparent;
    line-height: 4;
    padding: 0 1em;
    position: relative;
}

.itemActivo:before {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 250ms;
}

.itemActivo:hover {
    color: #28a745;
    text-decoration: none;
}

.itemActivo:before {
    width: 100%;
}


.imgPlan {
    width: 200px;
    height: 80px;
    cursor: pointer;
}

.containerBtns {
    padding-right: 10px;
    display: flex;
    width: 35vw;
    justify-content: end;
    align-items: center;
}

.backgroundBtn {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    height: 45px;
    width: 45px;
}

@media(max-width:1024px) {
    .deshabilitadoUl {
        display: none;
    }
}

@media(max-width:375px) {
    .imgPlan {
        display: none;
    }
}